.parent{
display: flex;
align-items: center;
justify-content: center;
position: relative;
height: 650px;

}

.array-container {
  position: relative;
  padding: 0px;
}

.array-bar {
  width: 11px;
  display: inline-block;
  margin: 0 1px;
}
